@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

header {
    position: relative;
}

.top-bar {
    background-color: #000;
    color: white;
    padding: 10px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.top-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px;
    border-right: 1px solid white;
    line-height: 1;
}

.top-links a:last-child {
    border-right: none;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 15px;
}

.navigation {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 90%;
    max-width: 1200px;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    align-items: center;
    z-index: 1000;
    border-radius: 100px;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}


.navigation ul:first-of-type {
    justify-content: flex-start;
}

.navigation ul:last-of-type {
    justify-content: flex-end;
}

.navigation ul li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    /* padding: 0 15px; */
    text-transform: capitalize;
    font-size: 16px;
}

.navigation .logo {
    font-weight: 800;
    font-size: 55px;
    display: flex;
    align-items: center;
    line-height: 1;
    flex-shrink: 0;
    margin: 0 40px;
    white-space: nowrap;
}

.navigation .logo span:first-child {
    color: #eb5d1e;
}

.top {
    position: relative;
    height: 110vh;
    overflow: hidden;
}

.top .img-wrapper {
    width: 100%;
    height: 100%;
}

.top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
    filter: brightness(60%);
}

.info {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 90%;
    z-index: 10;
}

.info h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 25px;
    margin-bottom: 15px;
}

.info h1 {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 1.1;
}

.info button {
    background-color: black;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;

}

.bottom {
    background-color: #e2f2d0;
    padding: 100px 10%;
    text-align: center;
}

.bottom h2 {
    font-size: 34px;
    margin-bottom: 40px;
    color: #4F4D4F;
}

.bottom h2::before {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: black;
    margin: 0 auto 15px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

.about-us,
.our-features {
    flex: 1;
    text-align: left;
}

.about-us h4,
.our-features h4 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 900;
    color: #4F4D4F;
}

.about-us p {
    font-size: 20px;
    color: #848C8C;
    margin-bottom: 25px;
    text-align: justify;
    font-weight: 700;
}

.about img {
    width: 100%;
    max-width: 380px;
    border-radius: 4px;
}

.about button {
    background-color: #eb5d1e;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.our-features ul {
    list-style: none;
    margin: 20px 0;
}

.our-features ul li.tick {
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #848C8C;
    font-weight: 700;
}

.our-features ul li.tick::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    color: #eb5d1e;
    font-size: 18px;
}

.every-seat{
    color: #A4AE9A;
    font-weight: 600;
}

.our-features button{
    background-color: black;
}

footer {
    background-color: white;
    padding: 80px 10% 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .logo {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

footer .logo span:first-child {
    color: #eb5d1e;
}

footer .icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

footer .icons a {
    color: #eb5d1e;
    font-size: 16px;
    width: 40px;
    height: 40px;
    border: 1px solid #4da6ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.info-footer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0;
    margin-bottom: 15px;
    /* margin: 40px auto 60px;
    max-width: 800px; */
}

.get-in-touch{
    padding: 0 40px;
    text-align: end;
    justify-content: center;
    flex: 1;
    border-right: 1px solid black;
    text-align: right;
}

.opening-hours{
    padding: 0 40px;
    text-align: left;
    justify-content: center;
    flex: 1;
}

.info-footer h5 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.info-footer p {
    font-size: 14px;
}

.end {
    padding-top: 15px;
    font-size: 12px;
    text-align: center;
}

.end .right-text{
    font-weight: lighter;
}

.end .left-text{
    font-weight: 500;
}